<h3>Existing appointments:</h3>
{{#each appointments}}
<table>
  <tr>
    <th>{{_client.name}} {{_client.surname}}</th>
    <th></th>
    <th>{{role}}</th>
    <th><a href="/doctor/citas/{{_id}}/delete">Delete</a></th>
    <th><a href="/doctor/citas/{{_id}}">Edit</a></th>
    <th><a href="/doctor/citas/{{_id}}/prescripcion">Agregar Prescripcion</a></th>
  </tr>
</table>
{{/each}}