<h3>Existing users:</h3>
{{#each users}}
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  <tr>
    <th>{{name}} {{surname}}</th>
    <th>{{email}}</th>
    <th>{{role}}</th>
    <th><a href="/admin/perfil/delete/{{_id}}">Delete</a></th>
    <th><a href="/admin/perfil/edit/{{_id}}">Edit</a></th>
    <th><a href="/admin/citas/{{_id}}">View Appointments</a></th>
  </tr>
</table>
{{/each}}

<h3>Existing appointments:</h3>
{{#each appointments}}
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <tr>
    <th>{{_client.name}} {{_client.surname}}</th>
    <th>{{date}}</th>
    <th>{{description}}</th>
    <th><a href="/doctor/citas/{{_id}}/edit">Edit</a></th>
    <th><a href="/doctor/citas//{{_id}}/delete">Delete</a></th>
  </tr>
</table>
{{/each}}